<table border="1" style="background-color: #AAAAAA; border: solid #000000 1px; border-collapse:collapse; empty-cells:show" cellpadding="2" cellspacing="0">
<tr>
<td style="color: #DDDDDD">Detected output type</td>
<td style="background-color: #CCCCCC">Binary</td>
</tr>
<tr>
<td style="color: #DDDDDD">Backpropagation algorithm</td>
<td style="background-color: #CCCCCC">Back propagation</td>
</tr>
<tr>
<td style="color: #DDDDDD">Activation function</td>

<td style="background-color: #CCCCCC">Sigmoid</td>
</tr>
<tr>
<td style="color: #DDDDDD">Momentum</td>
<td style="background-color: #CCCCCC">0.95</td>
</tr>
<tr>
<td style="color: #DDDDDD">Learning rate</td>
<td style="background-color: #CCCCCC">0.3</td>
</tr>
<tr>
<td style="color: #DDDDDD">Network error</td>

<td style="background-color: #CCCCCC">0</td>
</tr>
<tr>
<td style="color: #DDDDDD">Output error tolerance</td>
<td style="background-color: #CCCCCC">+/- 0.02</td>
</tr>
<tr>
<td style="color: #DDDDDD">Total loops</td>
<td style="background-color: #CCCCCC">1,184 loops</td>
</tr>
<tr>
<td style="color: #DDDDDD">Total trainings</td>

<td style="background-color: #CCCCCC">681 trainings</td>
</tr>
<tr>
<td style="color: #DDDDDD">Total activations</td>
<td style="background-color: #CCCCCC">1,196 activations</td>
</tr>
<tr>
<td style="color: #DDDDDD">Total activation requests</td>
<td style="background-color: #CCCCCC">1,877 activation requests</td>
</tr>
<tr>
<td style="color: #DDDDDD">Epoch</td>

<td style="background-color: #CCCCCC">4 loops</td>
</tr>
<tr>
<td style="color: #DDDDDD">Training time</td>
<td style="background-color: #CCCCCC">2 seconds = 0 minutes</td>
</tr>
<tr>
<td style="color: #DDDDDD">Loops / second</td>
<td style="background-color: #CCCCCC">592 loops / second</td>
</tr>
<tr>
<td style="color: #DDDDDD">Training finished</td>

<td style="background-color: #CCCCCC">Yes</td>
</tr>
</table>
<br />
<table border="1" style="background-color: #AAAAAA; border-width: 1px; border-collapse:collapse; empty-cells:show" cellpadding="2" cellspacing="0">
<tr>
<td style="color: #DDDDDD; text-align: center">Input<br />Layer</td>
<td style="background-color: #CCCCCC; text-align: center" colspan="4"><b>2 Inputs</b></td>
</tr>
<tr>
<td style="color: #DDDDDD; text-align: center">Hidden<br />Layer<br />1</td>

<td style="background-color: #CCCCCC; text-align: right"><p style="border: solid #00FF00 1px;"><b>Inputs</b><br /> 2 + BIAS</p><p style="border: solid #0000FF 1px;"><b>Delta</b><br /> -0.0506</p><p style="border: solid #FF0000 1px;"><b>Weights</b><br />1.6733918<br />2.2121483<br />-0.11212534</p></td>
<td style="background-color: #CCCCCC; text-align: right"><p style="border: solid #00FF00 1px;"><b>Inputs</b><br /> 2 + BIAS</p><p style="border: solid #0000FF 1px;"><b>Delta</b><br /> -0.028794</p><p style="border: solid #FF0000 1px;"><b>Weights</b><br />0.82291865<br />-0.50487344<br />1.2219424</p></td>

<td style="background-color: #CCCCCC; text-align: right"><p style="border: solid #00FF00 1px;"><b>Inputs</b><br /> 2 + BIAS</p><p style="border: solid #0000FF 1px;"><b>Delta</b><br /> -0.036295</p><p style="border: solid #FF0000 1px;"><b>Weights</b><br />-0.38247157<br />-0.44428177<br />0.82474042</p></td>
<td style="background-color: #CCCCCC; text-align: right"><p style="border: solid #00FF00 1px;"><b>Inputs</b><br /> 2 + BIAS</p><p style="border: solid #0000FF 1px;"><b>Delta</b><br /> -0.023459</p><p style="border: solid #FF0000 1px;"><b>Weights</b><br />-0.034346238<br />-1.2534745<br />0.12721712</p></td>

</tr>
<tr>
<td style="color: #DDDDDD; text-align: center">Hidden<br />Layer<br />2</td>
<td style="background-color: #CCCCCC; text-align: right"><p style="border: solid #00FF00 1px;"><b>Inputs</b><br /> 4 + BIAS</p><p style="border: solid #0000FF 1px;"><b>Delta</b><br /> -0.048475</p><p style="border: solid #FF0000 1px;"><b>Weights</b><br />1.4673316<br />-2.3897311<br />1.8623402<br />1.5242286<br />-1.7836527</p></td>

<td style="background-color: #CCCCCC; text-align: right"><p style="border: solid #00FF00 1px;"><b>Inputs</b><br /> 4 + BIAS</p><p style="border: solid #0000FF 1px;"><b>Delta</b><br /> -0.071969</p><p style="border: solid #FF0000 1px;"><b>Weights</b><br />2.0547129<br />1.272266<br />-1.1309798<br />-2.1410908<br />0.83411459</p></td>
<td style="background-color: #CCCCCC; text-align: right"><p style="border: solid #00FF00 1px;"><b>Inputs</b><br /> 4 + BIAS</p><p style="border: solid #0000FF 1px;"><b>Delta</b><br /> -0.009463</p><p style="border: solid #FF0000 1px;"><b>Weights</b><br />-0.89519706<br />-1.8656874<br />-0.59235609<br />-0.88669155<br />-0.31693055</p></td>

<td style="background-color: #CCCCCC; text-align: right"><p style="border: solid #00FF00 1px;"><b>Inputs</b><br /> 4 + BIAS</p><p style="border: solid #0000FF 1px;"><b>Delta</b><br /> 0.0016</p><p style="border: solid #FF0000 1px;"><b>Weights</b><br />-0.1683597<br />0.7770235<br />-0.4957282<br />-1.803104<br />-1.1577829</p></td>
</tr>
<tr>
<td style="color: #DDDDDD; text-align: center" rowspan="2">Output<br />Layer</td>

<td style="background-color: #CCCCCC; text-align: right"><p style="border: solid #00FF00 1px;"><b>Inputs</b><br /> 4 + BIAS</p><p style="border: solid #0000FF 1px;"><b>Delta</b><br /> -0.125606</p><p style="border: solid #FF0000 1px;"><b>Weights</b><br />1.8175155<br />1.1587094<br />-1.2062493<br />-2.0010308<br />-1.2752545</p></td>
<td style="background-color: #CCCCCC">&nbsp;</td>
<td style="background-color: #CCCCCC">&nbsp;</td>
<td style="background-color: #CCCCCC">&nbsp;</td>
</tr>

<tr>
<td style="background-color: #CCCCCC; text-align: center; height: 40px" colspan="4"><b>1 Outputs</b></td>
<tr>
</table>
<br />
<table border="1" style="background-color: #AAAAAA; border: solid #000000 1px; border-collapse:collapse; empty-cells:show" cellpadding="2" cellspacing="0">
<tr>
<td style="color: #DDDDDD">Input</td>
<td style="color: #DDDDDD">Output</td>
</tr>
<tr>
<td style="color: #DDDDDD" align="right">&nbsp;<b>f</b>(0, 0) =&nbsp;</td>

<td style="background-color: #00AACC">0</td>
</tr>
<tr>
<td style="color: #DDDDDD" align="right">&nbsp;<b>f</b>(0, 1) =&nbsp;</td>
<td style="background-color: #00AACC">1</td>
</tr>
<tr>
<td style="color: #DDDDDD" align="right">&nbsp;<b>f</b>(1, 0) =&nbsp;</td>
<td style="background-color: #00AACC">1</td>
</tr>

<tr>
<td style="color: #DDDDDD" align="right">&nbsp;<b>f</b>(1, 1) =&nbsp;</td>
<td style="background-color: #00AACC">0</td>
</tr>
</table>
